#TaskBox {
    background-color: white;
    height: 412px;
    border-radius: 15px;
    overflow: auto;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.savedTask {
    margin: 20px 0;
    border-radius: 5px;
    padding: 4px 20px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
}

.checkbox{
    display: flex;
    align-items:center;
    margin: 0 30px  0  0 ;
}
.teaklist h5{
    margin: 10px 0 0 0;
}
 