.Achived {
    color: rgb(20, 20, 41);
    padding: 10px;
    margin: 0 0 885px 0;
}

.Binpage {
    color: rgb(20, 20, 41);
    padding: 10px;
    margin: 0 0 885px 0;
}

.Searchpage {
    color: rgb(20, 20, 41);
    padding: 10px;
    margin: 0 0 885px 0;
}

.username {
    display: flex;
    color: rgb(23, 23, 53);
}

.username i {
    font-size: 40px;
}

.username div {
    margin: 15px 0 0 15px;
}